
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>     HandleErrorInfo model = new HandleErrorInfo(filterContext.Exception, controllerName, actionName);
        ViewResult result = new ViewResult
        {
        ViewName = this.View,
        MasterName = this.Master,
        ViewData = new ViewDataDictionary(model),
        TempData = filterContext.Controller.TempData
        };
    </div>
</body>
</html>
