
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div onclick="myfunction()">aaaaaaaaaaaaa</div>
    <script>
        function myfunction() {
            var a = [];
            for (var i = 0; i < 10; i++) {
                a[i] = function () {
                    console.log(i);
                };
            }
            a[6](); // 10
        }
    </script>
</body>
</html>
