
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prop</title>
    <script src="~/Scripts/vue.js"></script>
</head>
<body>
    <div id="v">
        <a-component posttitle="abc">error!   posttitle</a-component>
        <a-component postTitle="abc">error!   postTitle</a-component>
        <a-component post-Title="abc">post-Title</a-component>
        <a-component :post-title="'abc'">post-title</a-component>
        <br />
        <b-component :likes="1" :callback="aFunc"></b-component>
    </div>
    <script type="text/javascript">
        Vue.component('a-component', {
            props: ['postTitle'],
            template: '<h3>{{ postTitle }}===<slot></slot></h3>'
        });
        Vue.component('b-component', {
            props: {
                title: String,
                likes: Number,
                isPublished: Boolean,
                commentIds: Array,
                author: Object,
                callback: Function,
                contactsPromise: Promise // or any other constructor
            },
            methods: {
                m: function () {
                    this.callback();
                }
            },
            //created() {
            //    this.callback()
            //},
            template: '<h3 @@click="callback">{{ likes }}===<slot></slot></h3>'
        });
        new Vue({
            el: '#v',
            data: {
            },
            methods: {
                aFunc: function () {
                    alert(1)
                },
            },
            components: {
            },
        });
    </script>
</body>
</html>
