
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>v0</title>
    <script src="~/Scripts/vue.min.js"></script>
</head>
<body>
    <div id="v">
        <p>{{a}}</p>
        <button v-on:click="a=a+1">cccc</button>
        <p>{{b}}</p>
        <button onclick="fz();">Object.freeze</button>
        <p>vm.$data === data // => true</p>
        <p>vm.$el === document.getElementById('example') // => true</p>
    </div>
    <script>
        var data =
        {
            a: 1,
            b: 2,
        };
        //  Object.freeze(data);
        var vm = new Vue({
            el:'#v',
            data: data,
            beforeCreate: function () {
                alert('beforeCreate');
            },
            created: function () {
                alert('created');
            },
            beforeMount: function () {
                alert('beforeMount');
            },
            mounted: function () {
                alert('mounted');
            },
            beforeUpdate: function () {
                alert('beforeUpdate');
            },
            updated: function () {
                alert('update');
            },
            beforeDestroy: function () {
                alert('beforeDestroy');
            },
            destroyed: function () {
                alert('destroyed');
            },
        });

        function fz() {
            alert('手动冻结 Object.freeze(data);')
        }
    </script>
</body>
</html>
