
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Class 与 Style 绑定</title>
    <script src="~/Scripts/vue.min.js"></script>
    <style>
        .bg {
            background-color: aliceblue
        }
        .fnt {
        color:antiquewhite
        }
    </style>
</head>
<body>
    <div id="v">
        <p v-bind:class="{bg:a,fnt:b}">11111111</p>
        <button @@click="a=!a">aaaa</button>
        <p :style="c">cccccccccccccccc</p>
    </div>
    <script>
        var vm = new Vue({
            el:'#v',
            data: {
                a: true,
                c: {
                    backgroundColor: 'aliceblue',
                    color: 'red',
                    display: ['-webkit-box', '-ms-flexbox', 'flex']
                }
            },
            computed: {
                b: function () {
                    return !this.a;
                }
            },
        });

    </script>
</body>

</html>
