
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>v3</title>
    <script src="~/Scripts/vue.min.js"></script>
</head>
<body>
    <div id="v">
        <p v-if="a<3">a&lt;3</p>
        <p v-else-if="a>4&&a<6">a&lt;4&&a&gt;6"</p>
        <p v-else="a>=6">a&ge;6</p>
        <p>a:{{a}}</p>
        <button @@click="addA">a + 1</button>
        <p>b:{{b}}</p>
        <p v-show="b">v-show</p>
        <button @@click="b=!b">!b</button>
        <p>不推荐同时使用 v-if 和 v-for</p>
    </div>
    <script>
        var vm = new Vue({
            el:'#v',
            data: {
                a: 1,
                b:true
            },
            computed: {
            },
            methods: {
                addA: function () {
                    this.a = this.a + 1;
                }
            },
        });

    </script>
</body>
</html>
