
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>组件基础</title>
    <script src="~/Scripts/vue.min.js"></script>
</head>
<body>
    <div id="v">
        <div>
            <btn-count></btn-count>
            <btn-count></btn-count>
        </div>
        <div>
            <post v-for="post in posts" :title="post.title" :id="post.id"></post>
        </div>
        <div>
            <post1 v-for="post in posts" :post="post" :id="post.id"></post1>
        </div>
        <div :style="{ fontSize: fontSize + 'em' }">
            <post-content v-for="post in postCs" :post="post" :id="post.id" v-on:font-change="fontChange"></post-content>
        </div>
        <input-comp v-model="inputCom">cessss</input-comp>
        <p>{{inputCom}}</p>
    </div>
    <script>
        Vue.component('btn-count', {
            data: function () {
                return {
                    count: 0,
                }
            },
            template: '<button v-on:click="++count">已经点击了{{count}}次</button>',
        });
        Vue.component('post', {
            data: function () {

            },
            props: ['title'],
            template:'<h3>{{ title }}</h3>'
        });
        Vue.component('post1', {
            data: function () {
            },
            props: ['post'],
            template: '<h3>{{ post.title }}</h3>'
        });

        Vue.component('postContent', {
            data: function () {
                return {
                    size: 0.2,
                }
            },
            props: ['post'],
            //props: ['postC'],
            template: '<div><h3>{{ post.title }}</h3><button v-on:click="$emit(\'font-change\',size,122)">font-change</button><div v-html="post.content"></div></div>'//
        });

        Vue.component('input-comp',{
            props: ['value'],
            template:'<div><input type="text" v-bind:value="value" @@input="$emit(\'input\',$event.target.value)"/><slot><slot/></div>'
        });
        
        new Vue({
            el: '#v',
            data: {
                posts: [{ id: 1, title: 'title1' },
                        { id: 2, title: 'title2' },
                        { id: 3, title: 'title3' },
                        { id: 4, title: 'title4' }],
                postCs: [{ id: 1, title: 'title1', content:'<span style="background-color:aqua">content1</span>' },
                    { id: 2, title: 'title2', content: '<span style="background-color:red">content2</span>' },
                    { id: 3, title: 'title3', content: '<span style="background-color:yellow">content3</span>' },
                    { id: 4, title: 'title4', content: '<span style="background-color:black">content4</span>' }],
                fontSize: 1,
                inputCom: '',
            },
            methods: {
                fontChange: function (eve,a) {
                    alert(eve);
                    alert(a);
                },
            },
        });
      
    </script>
</body>
</html>
